[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
boto3 = "*"
uvicorn = "*"
dynaconf = "*"
python-json-logger = "*"
sqlalchemy = {extras = ["asyncio"] }
asyncpg = "*"
qdrant-client = {extras = ["fastembed"], version = "*"}
pandas = "*"
pymupdf = "*"
unstructured = {extras = ["all-docs"], version = "*"}
celery = {extras = ["redis"], version = "*"}
beautifulsoup4 = "*"
python-jose = {extras = ["cryptography"], version = "*"}

[dev-packages]
black = "*"
mypy = "*"
flake8 = "*"
types-requests = "*"
isort = "*"

[requires]
python_version = "3.10"
